/* Reset some default margin and padding */
@font-face {
    font-family: 'Stretch'; /* Name your font */
    src: url('../fonts/stretch_pro/StretchPro.otf') format('opentype'), /* Specify the path to your font file */
}

@font-face {
    font-family: 'Munday'; /* Name your font */
    src: url('../fonts/the_munday/Themundayfreeversion-Regular.ttf') format('truetype'), /* Specify the path to your font file */
}

@font-face {
    font-family: 'Louie'; /* Name your font */
    src: url('../fonts/louis_george_cafe/Louis\ George\ Cafe\ Light.ttf') format('truetype'); /* Specify the path to your font file */
}

@font-face {
    font-family: 'Hack'; /* Name your font */
    src: url('../fonts/hack/Hack-Italic.ttf') format('truetype'); /* Specify the path to your font file and format */
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Set a light background color */
    color: #333; /* Set default text color */
}

/* Styling for Home section */
.Home {
    color: #fff; /* Set text color to white */
    height: 100vh; /* Set the height of the section to 100% of the viewport height */
    background-image: url('../images/bgfinal.jpg'); /* Specify the path to your background image */
    background-size: cover; /* Cover the entire section with the background image */
    background-position: center; /* Center the background image */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    text-align: center; /* Center the text horizontally */
}


.features_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 12px;
    padding: 30px;
    margin: 0 auto; /* Center the container horizontally */
    transition: transform 0.35s ease-out; /* Smooth transition */
    height: 350px;
}



.features {
    background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent white background */
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color: #242424;
    font-family: 'Louie';
    font-size: 16px;
}

#kronokat_container {
    flex: 1; /* Take remaining space */
    padding: 20px 20px; /* Add some padding for better spacing */
}

#kronokat_container h1 {
    font-size: 90px;
    font-family: "Stretch";
    color: #000000;
}

#kronokat_container p {
    font-size: 25px;
    font-family: 'Louie';
    color: #242424;
}

/* Styling for About section */
.About {
    background: rgb(255,255,255);
}

.page-containers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container {
    background-color: #000000;
    padding: 20px;
    margin: 60px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    height: 600px;
    max-width: 400px;
    transition: transform 0.3s ease-in-out; /* Add a transition effect for smooth scaling */
}

.card-container:hover {
    transform: scale(1.05); /* Scale up the card on hover */
}


.card-container h2 {
    color: #ffffff; 
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Louie';
    font-size: 50px;
}

.card-text-paragraph {
    margin-top: 20px;
    color: #ffffff; /* Set paragraph text color */
    font-family: "Louie";
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .features_container {
        flex-direction: column; /* Stack features and KronoKat content vertically on small screens */
        align-items: flex-start; /* Align items to the start */
    }

    #kronokat_container {
        padding: 20px 0; /* Adjust padding for better spacing */
    }
}