.card {
    background-color: white;
    color: black;
    width: 300px;
    /*height: 200px;*/
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}