/* Reset some default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Set a light background color */
    color: #333; /* Set default text color */
}

/* Global styling for sections */
section {
    padding: 50px 0;
}

/* Styling for Home section */
.Home {
    background-color: #3498db; /* Set a blue background color */
    color: #fff; /* Set text color to white */
}

.features_container {
    display: flex;
    justify-content: space-between; /* Features container on the left, KronoKat container on the right */
    align-items: center;
    max-width: 1200px; /* Set a maximum width for better alignment */
    margin: 0 auto; /* Center the content horizontally */
}

.features {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

#kronokat_container {
    flex: 1; /* Take remaining space */
    padding: 0 20px; /* Add some padding for better spacing */
}

/* Styling for About section */
.About {
    background-color: #fff; /* Set a white background color */
}

.page-containers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container {
    background-color: #f9f9f9; /* Light gray background color */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    flex: 1; /* Take equal space horizontally */
}

.card-container h2 {
    color: #333; /* Set heading color */
    margin-bottom: 10px;
}

.card-text-paragraph {
    color: #666; /* Set paragraph text color */
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .features_container {
        flex-direction: column; /* Stack features and KronoKat content vertically on small screens */
        align-items: flex-start; /* Align items to the start */
    }

    #kronokat_container {
        padding: 20px 0; /* Adjust padding for better spacing */
    }
}
